<div class="main">
    <div class="sub">
        <center><h1><span class="badge badge-secondary">Sorting</span></h1></center>
        <label for="sort-type"> Select an algorithm to use </label>
        <select class="form-control is_invalid" name= "sort-type" id= "sort-type" required>
                <option disabled selected value=""> Select Sorting Algorithm </option>
                <option value="bubble"> Bubble Sort </option>
                <option value="quick"> Quick Sort </option>
        </select>
        <br/>
        <div class="form-row">
            <div class="col-md-12">
                <label for="input-string"> Input string to sort </label>
                <div class="input-group mb-3">
                    <input type="text" name="input-string "required id="input-string" class="form-control" placeholder="Input string" aria-label="Input string" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" onclick="sort()" type="button">Sort</button>
                    </div>
                </div>
            </div>
        </div>
        <center><label> <strong> Result: <span id="result">  </span> </strong> </label></center>
    </div>
</div>