// Place all the styles related to the Sorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}

.sub {
    border: 2px solid;
    padding: 15px 25px;
    width: 100%;
    max-width: 50%;    
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;top: 50%;
  }