<!DOCTYPE html>
<html>
  <head>
    <title>YouSourceTest1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }

      html, body {
          width: 100%;
          height: 100%;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
